:root {
    --white:#fff;
    --black: #1c2b2d;
    --light-blue: #005490;
    --color-primary: #9d0919;
    --color-grey: #ddd;
    --color-dark-grey: #222831;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(bg.jpg) center center fixed no-repeat;
    color: var(--white);
    height: 100vh;
    background-size: cover;
    align-items: center;
    justify-content: center;
    font-family: "Permanent Marker";
}

.head{
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    padding: 0.7rem;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-family: "Rubik Moonrocks";
    margin-bottom: 3rem;
}

.time{
    color: orangered;
}

.container {
    width: 40rem;
    margin: 0 auto;
    border: 1px solid var(--black);
    padding: 6px;
    display: flex;
    flex-direction: column;
}

.todo-num{
    padding: 7px;
    width: 40rem;
    margin: 0 auto;
    font-weight: 800;
    font-size: 20px;
    border: 1px solid var(--black);
    font-family: inherit;
}

form{
    display: flex;
    justify-content: space-evenly;
}

#text{
    width: 100%;
    padding: 10px;
    margin: 15px 4px 15px 10px;
    outline: none;
}
.add-btn{
    font-size: 1rem;
    padding: 5px;
    height: 40px;
    text-align: center;
    margin-top: 0.9rem;
    margin-right: 10px;
    background-color: var(--light-blue);
    color: var(--white);
    border: none;
    cursor: pointer;
    font-family: inherit;
}

.todo-table{
    position: relative;
    width: 100%;
    margin: auto 0;
    padding: 10px;
    box-sizing: border-box;
}

.todo-table li{
    display: flex;
    border: 0.5px solid var(--black);
    padding: 5px 10px;
    margin: 0;
    justify-content: space-between;
    font-size: 18px;
    font-family: inherit;

}

.todo-table li:nth-child(odd){
    background-color:rgba(186, 172, 143, 0.46)
}

i{
    padding: 5px;
    width: 40px;
    cursor: pointer;
}

.fa-pen-to-square{
    background-color: green;
    color: var(--white);
    text-align: center;
    border-radius: 3px;
    margin: 5px;
}

.fa-trash-can{
    background-color: var(--color-primary);
    color: var(--white);
    text-align: center;
    border-radius: 3px;
    margin: 5px;
}

.clear{
    font-size: 1rem;
    padding: 5px;
    height: 40px;
    width: 9rem;
    background-color: var(--light-blue);
    color: var(--white);
    border: none;
    margin-top: 15px;
    margin-left: 10px;
    font-family: inherit;
}

#empty{
    text-align: center;
    font-size: 30px;
    font-family:'Titan One';
    letter-spacing: 2px;
}

@media (max-width:400px) {

    body{
        background: url(bg.jpg) center center fixed ;
        height: 100vh;
        background-size: cover;
    }

    .container{
        width: 50rem;
        padding: 0;
    }

    .head{
        width: 50rem;
        height: 60px;
        font-size: 35px ;
    }

    #todo, .time{
        padding-bottom: 1.5rem;
    }

    .todo-num{
        font-size: 30px;
    }

    .todo-table li{
        font-size: 25px;
    }

    .clear{
        margin-top: 23px;
    }
}